{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Shop</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/book.css">
</head>
<body>
    <div class="title">
      <h1>Книжный магазин<span>"BookShop"</span></h1>
    </div>

    <div class="create_container">
      <form action="{% url 'add-books' %}" method="POST">
          {% csrf_token %}
          <input class="create_title" type="text" placeholder="Заголовок книги" name="title_text">
          <input class="create_subtitle" type="text" placeholder="Подзаголовок книги" name="subtitle_text">
          <input class="create_description" type="text" placeholder="Описание книги" name="description_text">
          <input class="create_price" type="text" placeholder="Цена книги" name="price_text">
          <input class="create_genre" type="text" placeholder="Жанр книги" name="genre_text">
          <input class="create_author" type="text" placeholder="Автор книги" name="author_text">
          <input class="create_year" type="text" placeholder="Год выхода книги" name="year_text">
          <button class="create_button">Добавить книгу</button>
      </form>
    </div>

    <div class="container">
      {% for book in book_shop %}
      <section class="book-card">
        <div class="for-padding">
          <div class="logo">
            <a href="#">BookShop</a>
          </div>
          <div class="content">
            <h2 class="title">{{ book.title }}</h2>
            <h3 class="subtitle">{{ book.subtitle }}</h3>
            <p class="description">{{ book.description }}</p>
            <p class="price">{{ book.price }}</p>
            <p class="genre">{{ book.genre }}</p>
            <p class="author">{{ book.author }}</p>
            <p class="year">{{ book.year }}</p>
          </div>     
        </div>
      </section>
      {% endfor %}
    </div>
</body>
</html>